.App {
  min-height: 100vh;
  background-color: rgb(238, 232, 232);
  margin: 5px;
}

.mybody {
  display: flex;
  gap: 3em;
  padding: 1em;
}

a.navbar-brand {
  margin-inline-start: -5em;
}

h2 {
  margin-top: 10px !important;
}

.event-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: -1rem;
}

.event-form {
  font-size: larger;
  padding: 1.5rem;
  border-radius: 8px;
  margin-left: 1rem;
  width: 400px !important; 
}

input[type=text] {
  display: inline-block;
  margin-top: -10px;
  width: 100%;
  font-size: 19px;
  border-radius: 2px;
  border: 3px solid #98d0f1
}

button.btn.btn-primary {
  margin-top: 25px;
}


.form-label {
  margin-bottom: 0 !important;
  margin-top: 0.5em;
}

.form-check {
  margin-top: 1em;
}

.event-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
}

